<%= form.select :tenure, Dwelling::Tenures %>
<%= form.number_field :habitable_rooms %>
<%= form.number_field :bedrooms %>
<% if @development.status != 'new' %>
  <div class="form-group">
    <label for="comment">Change comment</label>
    <%= text_field_tag :comment, nil, class: 'form-control' %>
    <small class="form-text text-muted">Because this development has already been agreed, we need some comments for the change.</small>
  </div>
<% end %>
<% if form.object.development&.status == 'completed' && form.object.tenure != 'open' %>
  <%= form.text_field :address, hide_label: true %>
  <%= form.text_field :uprn, hide_label: true %>
  <%= form.select :registered_provider, Dwelling::REGISTERED_PROVIDERS, hide_label: true %>
<% end %>
