<%= render partial: '/partial/header_developer' %>
<div class="container">
<%= bootstrap_form_for([@development, @dwelling]) do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= form.submit %>
<% end %>

<%= button_to 'Delete Dwelling', development_dwelling_path(@development, @dwelling), method: :delete, class: 'btn btn-danger mt-2', data: {confirm: 'Are you sure?'} %>
</div>