<%= render partial: '/partial/header_developer' %>
<div class="container">
<h2>Developer completion form</h2>

<p>Congratulations on completing the build of <%= @development.site_address %>!</p>

<p>When Southwark gave you planning permission to build, you agreed to build the following Affordable Housing.</p>

<p>Please provide the requested details for this housing now it is completed.</p>

<%= bootstrap_form_for(@development, url: completion_development_path(@development)) do |form| %>
  <table class="table">
    <tr>
      <th>Tenure</th>
      <th>Bedrooms</th>
      <th>Habitable Rooms</th>
      <th>Address</th>
      <th>UPRN</th>
      <th>Registered Provider</th>
    </tr>
    <%= form.fields_for :dwellings, @development.dwellings do |dwelling_form| %>
      <% if dwelling_form.object.tenure != 'open' %>
        <tr>
          <td><%= dwelling_form.object.tenure %></td>
          <td><%= dwelling_form.object.bedrooms %></td>
          <td><%= dwelling_form.object.habitable_rooms %></td>
          <td><%= dwelling_form.text_field :address, hide_label: true %></td>
          <td><%= dwelling_form.text_field :uprn, hide_label: true %></td>
          <td><%= dwelling_form.select :registered_provider, Dwelling::REGISTERED_PROVIDERS, hide_label: true %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= form.submit %>
<% end %>
</div>