<%= render partial: '/partial/header_internal' %>
<h1 class="mb-5">Developments</h1>

<p><%= link_to 'Add new development', new_development_path %></p>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Signed on</th>
    <th>Application number</th>
    <th>Site Address</th>
    <th>Actions</th>
  </tr>
  <% @developments.each do |development| %>
    <tr>
      <td><%= development.status %></td>
      <td><%= development.signed_on %></td>
      <td><%= link_to development.application_number, development_dwellings_path(development) %></td>
      <td><%= development.site_address %></td>
      <td>
        <%= link_to 'edit', edit_development_path(development) %>
        <% if development.developer_needs_to_respond? %>
          <p>
            Please ask developer to fill in this
            <%= link_to 'completion form', completion_form_development_path(development) %>
          </p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
