<%= render partial: '/partial/header_internal' %>
<h1 class="mb-5">Developments</h1>

<p><%= link_to 'Add new development', new_development_path %></p>

<table class="table">
  <tr>
    <th>Status</th>
    <th>Application number</th>
    <th>Site Address</th>
    <th>Actions</th>
  </tr>
  <% @developments.each do |development| %>
    <tr>
      <td><%= development.status %></td>
      <td><%= link_to development.application_number, development_dwellings_path(development) %></td>
      <td><%= development.site_address %></td>
      <td>
        <%= link_to 'edit', edit_development_path(development) %>
      </td>
    </tr>
  <% end %>
</table>
